/*全局样式*/
@charset "utf-8";
body { color:#333; font-size:14px; font-family:Microsoft YaHei,Arial,Helvetica,SimSun; background-color:#021132  ; }
body.bg1 { background-color:#f8f8f8;}
body.nobg { background:none; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset, img { border:0; }
ul { list-style-type:none; }
li { list-style:none; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
a, a:link { color:#222; text-decoration:none; }
a:hover, a:active { color:#d8262c; text-decoration:underline; }
a.blue, a.blue:link { color:#1a72c1; }
a.blue:hover, a.blue:active { color:#1a72c1; text-decoration:underline; }
a.nblue, a.nblue:link { color:#00F; }
a.nblue:hover, a.nblue:active { color:#00F; text-decoration:underline; }
a.white, a.white:link { color:#fff; }
a.white:hover, a.white:active { color:#fff; text-decoration:underline; }
select{cursor: pointer;}
button{cursor: pointer;}
input[type="radio"],input[type=checkbox]{position:relative;top:3px;margin-right:5px;}
.trans{-webkit-transition:all 0.4s;-moz-transition:all 0.4s;-ms-transition:all 0.4s;transition:all 0.4s;}

/* .vconld .lcond .ltpod::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.vconld .lcond .ltpod::-webkit-scrollbar-track {
    border-radius: 3px;
	background: rgba(3,26,70,1);
	-webkit-box-shadow: inset 0 0 10px rgba(3,26,70,1) ;
}
.vconld .lcond .ltpod::-webkit-scrollbar-thumb {
   border-radius: 3px;
   background: rgba(23,49,85,1);
   -webkit-box-shadow: inset 0 0 5px rgba(23,49,85,1);
} */

html,body{height: 100%;min-width: 1366px;}
.vwraperd .invdivd{height: 9px;}
.vwraperd .vtitd{height: 50px;line-height: 50px;font-size: 26px;letter-spacing: 2px;position: relative;font-weight: bold;text-align: center;color: #fff;background:url(../img/top_bg.png);}
.vwraperd .vtitd span{position: absolute;top: 0;right: 20px;display: inline-block;height: 100%;padding-left: 25px;vertical-align: 5px;font-size: 14px;font-weight: normal;background: url(../img/icon_back.png)no-repeat left; background-size:auto 14px ;cursor: pointer; }
.vwraperd .vcond{position: relative;}
.vcond .vconld{width: 200px;overflow: hidden;background: #031A46;}
.vconld .lcond {margin-top: 1px;} 
.vconld .lcond .ltpod{height: 831px;overflow: auto;}
.vconld .lcond .ltitd{position: relative;}
.vconld .lcond .ltitd p.tit{padding: 10px;background: #063179;color: #fff;}
.vconld .lcond .ltitd p .irush{position: absolute;right: 10px;top: 10px;height: 20px;width: 20px; cursor: pointer;display: inline-block;vertical-align: middle;background: url(../img/icon_rush.png)no-repeat center;background-size: auto 14px;}
.vconld .lcond .ltitd p.inp{padding: 10px;background: #031A46;color: #fff;position: relative;}
.vconld .lcond .ltitd p input{width: 100%;height: 30px;text-indent: 35px;background: url(../img/icon_search.png)no-repeat 10px center;background-color: #021125;border: none;position: relative;color: #fff;}
.vconld .lcond .ltpod ul li{padding: 8px 20px 8px 35px;cursor: pointer;box-sizing: border-box;overflow: hidden;color: #0CA8E3;background: url(../img/icon_nvedio.png) no-repeat 10px center;background-size: auto 10px;position: relative;}
.vconld .lcond .ltpod ul li:hover{background-color: #2b4f8b !important;}
.vconld .lcond .ltpod ul li.on{background: url(../img/icon_yvedio.png) no-repeat 10px center;background-size: auto 10px;}
.vconld .lcond .ltpod ul li.open{color: #34FFB5;}
.vconld .lcond .ltpod ul li:after{position: absolute;content: "";top: 14px;display: inline-block;right: 10px;width: 8px;height: 8px;border-radius: 4px;background: #173155;}
.vconld .lcond .ltpod ul li.open:after{background: #34FFB5;}
.ellip{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.vconld .lcond .lbtmd{height: 100px;padding: 0 10px;box-sizing: border-box;position: relative;}
.vconld .lcond .lbtmd :after{position: absolute;content: "";left: 10px;right: 10px;top: 0;height: 1px;background: #055DA8;}
.vconld .lcond .lbtmd button{width: 100%;padding: 8px 0;margin-top: 20px;background: #0747C1;;color: #fff;border: none;border-radius: 4px;}
.vconld .lcond .lbtmd button.open{background: #C02532;}
.vconrd{position: absolute;left: 209px;right: 9px;top: 0;min-width: 1146px;height: 1025px;}
.vconrd .vediod{height: 975px;overflow: hidden;}
.vconrd .vediod>div{display: none;}
.vconrd .vediod>div.on{display: block;}

iframe{width: 100%;margin-top: 0px;display: inline-block;vertical-align: top;border:none;box-sizing: border-box;cursor: pointer;position: relative;z-index: 10;}
.vconrd .vediod .voned .framd{background: url(../img/icon_move.png)no-repeat center;background-size:auto 120px;background-color: #15191D;}
.vconrd .vediod .vtwod .framd{background: url(../img/icon_move.png)no-repeat center;background-size:auto 96px;background-color: #15191D;}
.vconrd .vediod .vthrd .framd{background: url(../img/icon_move.png)no-repeat center;background-size:auto 72px;background-color: #15191D;}
.vconrd .vediod .vfoud .framd{background: url(../img/icon_move.png)no-repeat center;background-size:auto 48px;background-color: #15191D;}
iframe.on{}
.vconrd .vediod .voned,
.vconrd .vediod .vtwod,
.vconrd .vediod .vthrd,
.vconrd .vediod .vfoud{height: 100%;overflow: hidden;}
.framd {box-sizing: border-box;border: 2px solid #0072D3;overflow: hidden; }
.framd.on{border: 2px solid #00e800}

.vconrd  .voned .fours{height: ;}
.vconrd  .vtwod .fours{height:487.5px ;}
.vconrd  .vthrd .fours{height: 325px;}
.vconrd  .vfoud .fours{height: 233.75px;}

.vconrd  .voned  .framd{height: ;}
.vconrd  .vtwod  .framd{height:477.5px ;}
.vconrd  .vthrd  .framd{height:315px ;}
.vconrd  .vfoud  .framd{height: 223.75px;}

.vconrd .vediod .voned .fours .framd,
.vconrd .vediod .vfoud .fours .framd,
.vconrd .vediod .vtwod .fours .framd,
.vconrd .vediod .vthrd .fours .framd{margin: 1px;position: relative;}

.vconrd .vediod .vtwod .fours{float: left;width: 50%;}
.vconrd .vediod .vthrd .fours{float: left;width: 33.33%;}
.vconrd .vediod .vfoud .fours{float: left;width: 25%;}
.vconrd .ifbgd{position: absolute;top: 0;left: 0;width: 100%;height: 480px; background: rgba(0,0,0,0);z-index: 0;cursor: pointer;}
/* .vconrd .ifbgd:hover+iframe{box-shadow: 0 0 5px #222222;} */

/* .vconrd .ifbgd.on{border: 1px solid #00e800;} */

.vconrd .ifbgd .iftitd{height: 22px;line-height: 22px;overflow: hidden;position: relative;font-size: 12px;background: #063179;display: none;}
.vconrd .ifbgd .iftitd .cname{position: absolute;top:0;left: 0;right:50px;padding-left: 10px;color: #fff;z-index: 999;}
.vconrd .ifbgd .iftitd .cls{position: absolute;top: 0;right: 0;width: 30px;background: url(../img/icon_close.png) no-repeat center;background-size:auto 14px;display: none;}

.vconrd .bottomd{height: 35px;line-height: 35px; margin: 9px 1px 0px 1px;overflow:hidden;background: #031A46;}
.vconrd .vbtnd span{display: inline-block;width: 50px;text-align: center;cursor: pointer;}

.vconrd .bottomd div.fl{float: left;color: #fff;}
.vconrd .bottomd div.fr{float: right;}
.vconrd .bottomd .font{padding-left: 10px;}
.vconrd .bottomd .fulld{width: 50px;background: url(../img/icon_full.png)no-repeat center; background-size:auto 16px;cursor: pointer;}
.vconrd .vbtnd .icon1{background: url(../img/icon_one_full.png) no-repeat center;background-size: auto 16px;}
.vconrd .vbtnd .icon2{background: url(../img/icon_four_full.png) no-repeat center;background-size: auto 16px;}
.vconrd .vbtnd .icon3{background: url(../img/icon_nine_full.png) no-repeat center;background-size: auto 16px;}
.vconrd .vbtnd .icon4{background: url(../img/icon_sixteen_full.png) no-repeat center;background-size: auto 16px;}
.vconrd .vbtnd .von{background-color: #2b4f8b;color: #fff;}
.vconrd .bottomd .paged{padding-right: 50px;display:none;}
.vconrd .bottomd .paged span{width: 80px;display: inline-block;cursor: pointer;color: #fff;text-align: center;}
.vconrd .bottomd .paged span:hover{background-color: #2b4f8b;}

.promptd{position: absolute;bottom: 50px;left: 50%;margin-left: -70px;padding: 10px;width: 120px;border-radius: 5px;text-align: center;background: #afaeae;color: #8e0505;display: none;}





